/* write your css here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

.homepage_bg {
    background: url("./assets/Images/bghome.svg");
}

.login_bg {
    background: url("./assets/Images/frame.png");
}

.active {
    color: #FFD60A;
}